services:
  db-server:
    container_name: ${DB_SERVER_CONTAINER_NAME}
    build:
      context: ${DB_SERVER_BUILD_CONTEXT}
      dockerfile: ${DB_SERVER_DOCKERFILE}
    image: ${DB_SERVER_IMAGE}
    restart: ${DB_SERVER_RESTART_POLICY}
    environment:
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      DB_ENV: ${DB_ENV}
    ports:
      - "${DB_SERVER_PORT}:8011"
      - "${DB_STATS_PORT}:8012"
    networks:
      - db-server-net

networks:
  db-server-net:
    external: ${DB_SERVER_NETWORK_EXTERNAL}
    name: ${DB_SERVER_NETWORK_NAME}
