{% extends 'base.html' %}

{% block title %}Delete Task{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="my-4">Are you sure you want to delete the task?</h1>
        
        <div class="alert alert-warning">
            <p><strong>{{ task.title }}</strong></p>
            <p>{{ task.description }}</p>
        </div>
        
        <form method="POST">
            {% csrf_token %}
            <div class="d-flex justify-content-start">
                <button type="submit" class="btn btn-danger me-2">Yes, delete</button>
                <a href="{% url 'task-details' task.id %}" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
{% endblock %}
